
.header {
    background-color: #19bc9b;
}
.nav {
    height: 50px;
    background-color: teal;
}
h1 {
    text-align: center;

}
.kid-smile {
    width: 150px;
    height: 150px;
    background-color: tomato;
    margin: 0 auto;
    border-radius: 150px;
}

.ul-header {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.ul-header li {
    margin-right: 15px;
}
.main-description{
    text-align: center;
    margin-top: 50px;
}

[class*=main-content]{
    height: 280px;
    margin-bottom: 24px;
    background-size: cover;
    background-position:center;
    border-radius: 10px;
}
.main-content-1{
    background-image: url(../img/cabin.png);
}
.main-content-2{
    background-image: url(../img/cake.png);
}
.main-content-3{
    background-image: url(../img/circus.png);
}
.main-content-4{
    background-image: url(../img/game.png);
}
.main-content-5{
    background-image: url(../img/safe.png);
}
.main-content-6{
    background-image: url(../img/submarine.png);
}
.article-container{
    background-color: #19bc9b;
    height: 200px;
}
.about-container{
    background-color: #19bc9b;
    
}
.about-content {
    text-align: center;
}
.about {
    background-color: #19bc9b;
}
.section1 .col {
    background-color: tomato;
    height: 150px;
    border: 2px solid black;
    width: 250px;
}

.Copyright {
    height: 100px;
    line-height: 100px;
}
.star {
    text-align: center;
}
.footer-content {
    text-align: center;
}