
.header {
    background-color: rgb(1, 94, 1);
}
.nav {
    height: 50px;
    background-color: teal;
}
h1 {
    text-align: center;

}
.kid-smile {
    width: 150px;
    height: 150px;
    background-color: tomato;
    margin: 0 auto;
    border-radius: 150px;
}
.ul-header {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.ul-header li {
    margin-right: 15px;
}
.container {
    margin: 0 auto;
}
.row .port{
    background-color: tomato;
    height: 150px;
    border: 2px solid black;
}
.about {
    background-color: rgb(1, 94, 1);
    
}
.section1 .col {
    background-color: tomato;
    height: 150px;
    border: 2px solid black;
    width: 250px;
}
.about p  {
    text-align: center;
    border: 2px solid black;
}
.Copyright {
    height: 100px;
    line-height: 100px;
}